

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@300&family=Cedarville+Cursive&family=Comfortaa:wght@500&family=Cutive+Mono&family=Hind+Siliguri:wght@300&family=Lato&family=Montserrat:wght@100&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Outfit:wght@200&family=Pacifico&family=Playfair+Display:ital@1&family=Poor+Story&family=Poppins:wght@100;300&family=Red+Hat+Display:wght@300&family=Roboto:ital,wght@1,100&family=Rubik:ital,wght@0,300;1,400&family=Space+Mono&family=Syne:wght@800&family=Ubuntu&family=Unbounded:wght@800&family=Varela+Round&display=swap');

.contact{
    // background-color:#a0bccc  ;
    // background: hsl(216deg, 23%, 19%);/
    // background-color: #a0bccc   ;
    height: 110vh;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 10px;
}
.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
      position: relative;
      display: block;
      width: calc(116% + 1.3px);
      height: 153px;
  }
  .shape-fill {
    fill: #a0bccc;
}
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  width: 768px;

  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.title   {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
@media screen and (max-width: 768px) {
  #container {
    // margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    // margin: 20px auto;
    // width: 95%;
    height: 81vh;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}


.alert{
  width:50%;
  margin:20px auto;
  padding:30px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 15px 5px #ccc;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  border-width:1px;
  border-style:solid;
  border-radius:50%;
  right:15px;
  top:25px;
  text-align:center;
  font-size:1.6em;
  cursor:pointer;
}
@mixin alert($name,$bgColor){
  $accentColor:darken($bgColor,50);
  .#{$name}{
    background-color:#{$bgColor};
    border-left:5px solid $accentColor;
    .close{
      border-color:$accentColor;
      color:$accentColor;
    }
  }
}
@include alert(simple-alert,#ebebeb);
@include alert(success-alert,#a8f0c6);
@include alert(danger-alert,#f7a7a3);
@include alert(warning-alert,#ffd48a);