*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{
  // background: linear-gradient(55deg, #383333 0%, #2a1e1e 51%, #000000 85%);
  // background: #3c31dd;
  background: #524da3;
  // height: 450vh;
}

  h2,h4{
    font-size:5em;
    text-transform: uppercase;
    text-align: center;
    color: #97846e;
  }
// }